In [52]:

import numpy as np
import pandas as pd

In [53]:
output = pd.read_csv('output.csv')
output.head()

,price,shoeBrand,shoeName,shoeType
0,"995;154,NOW,75; 1,579,NOW,740; 449,NOW,210; 52...","Saint Laurent,Hunter Boot,Alexander McQueen,Aq...","Men's Jodhpur Leather Ankle-Wrap Boots,Men's O...",Boots
1,"1,190;725;1,200;995;495;425;295;275;798;1,695;...","Alexander McQueen,Bally,TOM FORD,Saint Laurent...","Men's Tie-Dye Calf Hair Chelsea Boots,Men's Ly...",Boots

In [54]:
output.price

0    995;154,NOW,75; 1,579,NOW,740; 449,NOW,210; 52...
1    1,190;725;1,200;995;495;425;295;275;798;1,695;...
Name: price, dtype: object

In [55]:
len(list(output.price[0]))

818

In [56]:
len(list(output.price[1]))

269

In [57]:
output.shoeBrand

0    Saint Laurent,Hunter Boot,Alexander McQueen,Aq...
1    Alexander McQueen,Bally,TOM FORD,Saint Laurent...
Name: shoeBrand, dtype: object

In [58]:
len(list(output.shoeBrand[0]))

1371

In [59]:
len(list(output.shoeBrand[1]))

700

In [60]:
output.shoeName

0    Men's Jodhpur Leather Ankle-Wrap Boots,Men's O...
1    Men's Tie-Dye Calf Hair Chelsea Boots,Men's Ly...
Name: shoeName, dtype: object

In [61]:
len(list(output.shoeName[0]))

4552

In [62]:
len(list(output.shoeName[1]))

2444

In [63]:
len(list(output.shoeType[0]))

5

In [64]:
output.shoeType

0    Boots
1    Boots
Name: shoeType, dtype: object

In [65]:
s_brand_list = output.shoeBrand.str.split(pat = ',')

In [66]:
s_name_list = output.shoeName.str.split(pat = ',')

In [67]:
s_price = output.price.str.split(pat = ';')

In [68]:
# s_brand_list[0]

In [69]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [70]:
def extract_series(series):
    df = []
    for ser in series:
        for s in ser:
            serr = pd.Series(s)
            df.append(list(serr))
            
        
    return df

df_shoeBrand = extract_series(s_brand_list)
df_shoeName = extract_series(s_name_list)
df_price = extract_series(s_price)
#df_shoeName

# df_shoeName
# type(df_shoeName)

In [71]:
len(df_shoeBrand), len(df_shoeName), len(df_price)

(182, 182, 182)

In [72]:
df_shoeName

[["Men's Jodhpur Leather Ankle-Wrap Boots"],
 ["Men's Original Refined Chelsea Boot"],
 ["Men's Studded Leather Moto Boot"],
 ["Men's Adrian  Leather Dress Chelsea Boots"],
 ["Men's Daniel Waterproof Suede Side-Zip Ankle Boots"],
 ["Men's Rinaldo Suede Lace-Up Chukka Boots"],
 ["Men's Polacco Suede Chukka Boots"],
 ["Men's Wyatt Leopard-Print Harness Boots"],
 ["Men's Adrian Weatherproof Suede Chelsea Boot"],
 ["Men's Santiag Western Harness Suede Booties"],
 ["Men's Double-Zip Leather Ankle Boots"],
 ["Men's Side-Zip Leather Ankle Boots"],
 ["Men's Suede Chelsea Boots"],
 ["Men's Clementi 40 Buckle-Strap Patent Leather Boots"],
 ["Men's Jodhpur Conch Suede Boots"],
 ["Men's Santa Fe Suede Chelsea Boots"],
 ["Men's Classic Short Suede Front-Zip Boots"],
 ["Men's Sachie-2 Suede Chukka Boots"],
 ["Men's Jonas Patent Leather Point-Toe Chukka Boots"],
 ["Men's Wyatt Suede Chukka Boots"],
 ["Men's Cross Shiny Faux-Leather Combat Boots"],
 ["Men's Chrystal Textured Leather Booties"],
 ["Men's Biker Bootie"],
 ["Men's Tank Metallic Split-Toe Ankle Boots"],
 ["Men's Leopard Calf Hair Ankle Boots"],
 ["Men's Corbin Weatherproof Suede Derby Shoes"],
 ["Men's Rinaldo Weatherproof Suede Chukka Boot"],
 ['Sherman 1955 Leather Boots Oak '],
 ['Saffiano Leather Chelsea Boots Black'],
 ['1000 Mile Boot'],
 ["Men's Open Walk Suede Chukka Boot"],
 ["Men's Vachetta Leather/Suede Chelsea Boots"],
 ["Men's 1000 Mile Rugged Waxy Suede Boots"],
 ["Men's Lukas Western Suede Boots"],
 ["Men's Scritto Leather Chelsea Boots"],
 ["Men's Edison 1955 Leather Chelsea Boots"],
 ["Men's Edison 1955 Suede Chelsea Boots"],
 ["Men's Sherman 1955 Suede Boots"],
 ["Men's Leather Mountain Boots"],
 ["Men's Bowery Leather Lace-Up Boots"],
 ["Men's Vladimir Leather Boots"],
 ["Men's Grayson Leather Chelsea Boots (Made to Order)"],
 ["Men's Hudson Full Quill Boots (Made to Order)"],
 ["Men's Bandana Buckle Ankle Boots"],
 ["Men's Sancho Leather Ankle Boots"],
 ["Men's Kicko Leopard-Print Red Sole Boots"],
 ['Eldridge Leather Harness Boot'],
 ["Men's Paul Lace-Up Leather Boots"],
 ["Men's Spazzolato Leather Combat Boots"],
 ["Men's Waverly Covered Chelsea Boots"],
 ["Men's Waverly Covered Chelsea Boots"],
 ["Men's NYC Leather Ankle Boots"],
 ["Men's Siena Flex Burnished Leather Chelsea Boots"],
 ["Men's Calf Suede Zip-Up Ankle Boots"],
 ["Men's Brogue Leather Derby Boots"],
 ["Men's Suede Mid-Top Desert Chukka Boots"],
 ["Men's Grady Jodhpur Ankle Boots"],
 ["Men's Nikora Leather Chelsea Boots "],
 ["Men's Union Leather Combat Boots"],
 ["Men's Fleetwood Velvet Lace-Up Boots"],
 ["Men's Savino Suede/Leather Derby Boots"],
 ["Men's Embroidered FF Logo Leather Chelsea Boots"],
 ["Men's Melon Spikes Red Sole Chelsea Boots"],
 ["Men's Octavian Patina Leather Double-Monk Boots"],
 ["Men's Edge Two-Tone Patina Leather Balmoral Boots"],
 ["Men's Sefton Gancini Leather Side-Zip Ankle Boots"],
 ["Men's Colter Moc-Toe Chukka Boots"],
 ["Men's Neumel Waterproof Full-Grain Leather Chukka Boots"],
 ["Men's Carmine Valencia Leather Chelsea Boots"],
 ["Men's Vintage Check/Leather Hiking Boots"],
 ["Men's Trivero Suede Chukka Boots with Mud Guard Black"],
 ["Men's Trivero Suede Chukka Boots with Mud Guard Blue"],
 ["Men's Trivero Suede Chukka Boots with Mud Guard Brown"],
 ["Men's Rodrigo Suede Chukka Boots"],
 ["Men's Bodolomite Shearling-Trim Hiking Boots"],
 ["Men's Nokona CanyonTrek Leather/Hemp Chukka Boots"],
 ["Men's Leather Harness Moto Boots"],
 ["Men's Colter Suede Moc-Toe Chukka Boots"],
 ["Men's 2.ZeroGrand Stretch-Knit Chukka Boots"],
 ["Men's Leather Chelsea Boots"],
 ["Men's Trivero Suede Chukka Boots"],
 ["Men's Faded FF Leather Chelsea Boots"],
 ["Men's Faded FF Moc-Toe Leather Combat Boots"],
 ['Hayden Chelsea Leather Boots'],
 ["Men's Allostock Vintage Check Leather Chelsea Boots"],
 ["Men's Octavio Brogue Leather Boots"],
 ["Men's Leon Chunky Leather Chelsea Boots"],
 ['Suede Chukka Boot Espadrille'],
 ["Men's Polacco Suede Chukka Boots"],
 ["Men's Motion Country Boots"],
 ["Men's Motion Chukka Boots"],
 ["Men's William Star-Print Leather Ankle Boots"],
 ["Men's Leather Medusa Combat Boots"],
 ["Men's Nylon-Inset Leather Boots"],
 ["Men's Morrison Sharpei Laser Boots"],
 ["Men's Lewis Leather Side-Zip Boots"],
 ["Men's Lewis Python-Print Side-Zip Boots"],
 ["Men's Riccardo Woven Leather Boots"],
 ["Men's Tabi Split-Toe Leather Ankle Boots"],
 ["Men's Kurt 1955 Waterproof Leather Hiking Boots"],
 ["Men's Lug-Sole Leather Derby Shoes"],
 ["Men's Leather Chelsea Boots"],
 ["Men's Brogue Lace-Up Boot Sneakers"],
 ["Men's Lightweight Suede Chukka Boots"],
 ["Men's Formal Leather Side-Zip Ankle Boots"],
 ["Men's Suede Point-Toe Chelsea Boots"],
 ["Men's Six O Six Convertible Leather Combat Boots"],
 ["Men's Neon Camouflage Sneakers"],
 ['Sherman 1955 Leather Boot Black'],
 ["Men's Rhino Leather Chelsea Boots"],
 ["Men's Leather Glitter Ankle Boots"],
 ["Men's Combat Boot with Woven Lace Detail"],
 ['1000 Mile Boots Black'],
 ["Men's Suede Chelsea Boots w/ Clear Heel"],
 ["Men's Kensington Double-Monk Boots"],
 ["Men's x Ovadia Classic Mini Leather Boots"],
 ["Men's Durham Leather Desert Boots"],
 ["Men's Lightweight Suede Chukka Boots"],
 ["Men's Bowery Leather Lace-Up Boots"],
 ["Men's Crosta Suede Greek Key Boots"],
 ["Men's Tie-Dye Calf Hair Chelsea Boots"],
 ["Men's Lysius Mixed-Media Lace-up Boots"],
 ["Men's Informal Double-Monk Suede Ankle Boots"],
 ["Men's Wyatt Croc-Embossed Leather Side-Zip Boots"],
 ['Franconia 1955 Ankle Boots Oak '],
 ["Men's Patent Leather Formal Tassel Loafers"],
 ["Men's Hybrid Urban Suede Hiking Boots"],
 ["Men's C250 Technical Cordura Hiking Boots"],
 ["Men's Lewis Leather Chelsea Boots"],
 ["Men's Yeti Studded Leather Boots w/ Shearling"],
 ['Eddie Suede Chelsea Boot'],
 ["Men's Warwick Leather Chukka Boots"],
 ["Men's Nokona CanyonTrek Leather/Hemp Chukka Boots"],
 ["Men's Nokona Adobe Desert Boots"],
 ["Men's Nokona Adobe Desert Boots"],
 ["Men's Citycroc Red Sole Brogue Leather Boots"],
 ["Men's Rim BB-Logo Leather Rain Boots"],
 ["Men's Ira Leather Boots"],
 ["Men's Luna Leather Chelsea Boots"],
 ["Men's Peyton II Burnished Leather Lace-Up Boots"],
 ["Men's Cheyanne II Premium Waterproof Boots"],
 ["Men's Atlis Waterproof Suede Ankle Boots"],
 ["Men's New Trivero Suede Lug-Sole Chukka Boots"],
 ["Men's Suede Hiker Boots"],
 ["Men's Neumel Flex Suede Booties w/ Wool Lining"],
 ["Men's Conway Leather Chelsea Boots"],
 ["Men's Angiolini M-Buckle Burnished Leather Ankle Boots"],
 ["Men's Conway Leather Harness Boots"],
 ["Men's Escape Patina Leather Chelsea Boots"],
 ["Men's Leather Side-Zip Ankle Boots w/ Buckle Strap"],
 ['Neumel Suede Desert Boots Chestnut'],
 ["Men's Delsa Leather Chelsea Boots"],
 ["Men's Double-Monk Strap Leather Ankle Boots"],
 ["Men's Talos Suede Chelsea Boots"],
 ["Men's Henoc Water-Resistant Hiking Boots"],
 ["Men's Motion Water-Resistant Suede Chelsea Boots"],
 ["Men's Paul Leather Ankle Boots"],
 ["Men's Lugano Suede Chukka Boots"],
 ["Men's Hobbs Sunburst Western Cowboy Boots (Made to Order)"],
 ["Men's Suede Chelsea Boots"],
 ["Men's Rim Patent Leather Chelsea Boots"],
 ["Men's Duke Roper Western Leather Boots"],
 ["Men's Worsh Leather Ankle Boots"],
 ["Men's Risoli Leather Zip-Up Ankle Boots"],
 ["Men's Rio Gator Leather Western Cowboy Boots (Made to Order)"],
 ["Men's Anderson Ostrich Cowboy Boots (Made to Order)"],
 ["Men's Gavin Leather Cowboy Boots (Made to Order)"],
 ["Men's Ripley Grand Chukka Boots"],
 ["Men's Adrian Waterproof Leather Chelsea Boots"],
 ["Men's Waverly Suede Chelsea Boots"],
 ["Men's Renzo Waterproof Leather Lace-Up Boots"],
 ["Men's Harkley Waterproof Leather Boots"],
 ["Men's Leather Mountain Hiking Boots Blue"],
 ["Men's Leather Lace-Up Combat Boots with Thick Rubber Sole"],
 ["Men's Suede Chukka Boot"],
 ["Men's Brunswick Suede Chukka Boot"],
 ['Morrison Sharpei Suede Boot'],
 ['Gored Leather Chelsea Boot w/ Rubber Sole'],
 ["Men's Calf Suede Chelsea Boot Tan"],
 ['6" Premium Waterproof Hiking Boots'],
 ['6" Premium Waterproof Hiking Boots Black'],
 ['Elkton 1955 Leather Boots Black']]

In [74]:
df_combined = pd.DataFrame({'shoeBrand': df_shoeBrand,
                             'shoeName': df_shoeName,
                            'price': df_price
                           
                           })

In [75]:
df_combined

,shoeBrand,shoeName,price
0,[Saint Laurent],[Men's Jodhpur Leather Ankle-Wrap Boots],[995]
1,[Hunter Boot],[Men's Original Refined Chelsea Boot],"[154,NOW,75]"
2,[Alexander McQueen],[Men's Studded Leather Moto Boot],"[ 1,579,NOW,740]"
3,[Aquatalia],[Men's Adrian Leather Dress Chelsea Boots],"[ 449,NOW,210]"
4,[Aquatalia],[Men's Daniel Waterproof Suede Side-Zip Ankle ...,"[ 524,NOW,245]"
...,...,...,...
177,[Giorgio Armani],[Gored Leather Chelsea Boot w/ Rubber Sole],[795]
178,[Common Projects],[Men's Calf Suede Chelsea Boot Tan],[529]
179,[Timberland],"[6"" Premium Waterproof Hiking Boots]",[198]
180,[Timberland],"[6"" Premium Waterproof Hiking Boots Black]",[198]
181,[Eastland],[Elkton 1955 Leather Boots Black],[225]